{% extends "GearboxClientBundle::base.html.twig" %}

{% block body %}
    <div id="header">Header</div>
    <div id="sidebar">Sidebar</div>
    <div id="main">
        <div class="banner">
            <h1>Title</h1>
            <h4>Subtitle</h4>
            <div class="banner--icon">
                <i class="fa fa-leaf"></i>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul class="nav breadcrumb--path text--right">
                <li>
                    <a href="#">you</a>
                </li>
                <li>
                    <a href="#">are</a>
                </li>
                <li>
                    <a href="#">here</a>
                </li>
            </ul>
        </div>
        <div class="content">
            Content here
        </div>
    </div>
{% endblock body %}