<!--<div class="navbar-left">-->
    <!--<div class="navbar__header">-->
        <!--<span class="navbar__title">Gearbox</span>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="navbar__navs-right">-->
    <!--<ul class="nav nav--block text--right"></ul>-->
<!--</div>-->

<div class="float--left">
    <div class="navbar__logo">
        <i class="fa fa-leaf"></i> Gearbox
    </div>
    <div class="navbar__messages">

    </div>
</div>
<div class="float--right">
    <ul class="nav nav--block">
        <li>
            <a href="#">Languages</a>
        </li>
        <li>
            <input type="text">
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
</div>