<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% include "GearboxClientBundle::_stylesheets.html.twig" %}
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}

{% include "GearboxClientBundle::_javascripts.html.twig" %}
{% block javascripts %}{% endblock %}
</body>
</html>
