//
// Banner styles
// --------------------------------------------------

//
// @something
// ----------------------------------

.banner {
    @extend .island;
    position:         relative;
    padding:          $half-spacing-unit;
    margin-bottom:    0;

    background-color: $brand-color;

    #{headings()} {
        color:            #FFFFFF;
        font-weight:   500;
        text-shadow:   1px 2px 0 darken($brand-color, 10%);

        margin-bottom: $half-spacing-unit;
    }
}

.banner--icon {
    position:    absolute;
    top:         0;
    right:       $half-spacing-unit;
    font-size:   $mega-size;

    color:       darken($brand-color, 10%);
    text-shadow: 0 1px 0 lighten($brand-color, 5%);
}