//
// Navbar
// --------------------------------------------------

//
// @something
// ----------------------------------

.navbar {

    // all navs
    .nav {
        @extend .nav--block;
        @extend .nav--stacked;

        margin-bottom: 0;
        position:      relative;
        display:       none;

        li {
            border:       1px solid transparent;
            border-width: 1px 0;
            overflow:     hidden;
            position:     relative;

            &.is-open {
                > .nav {
                    display: block;
                }

                &.is-active {
                    > a:before {
                        content: "";
                    }
                }
            }

            &.is-active {
                > a {
                    &:before {
                        @extend .#{$fa-css-prefix};
                        content:   $fa-var-caret-left;
                        font-size: $base-spacing-unit;
                        color:     $body-bg;

                        position:  absolute;
                        top:       ($base-font-size / 2);
                        right:     -1px;
                    }
                }
            }
        }

        a {
            color: $navbar-item-color;

            &:hover, &:active, &:focus {
                text-decoration: none;
            }

            &:hover {
                color: $navbar-item-color-hover;
            }

            &:active {
                background-color: $navbar-item-bg-active;
            }

            i.nav__icon {
                margin-right: ($half-spacing-unit / 2);
            }

            i.nav__caret {
                position: absolute;
                top:      $half-spacing-unit;
                right:    $half-spacing-unit;
            }
        }
    }

    // First level nav
    > .nav {
        display: block;

        &:not(:last-child) {
            li:last-child {
                // Bottom separator
                box-shadow:          1px 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.07) inset;
                border-bottom-color: #525151;
            }
        }

        // All subsequent navs
        .nav {
            background-color: $navbar-sub-item-bg;

            a {
                padding-left: ($base-spacing-unit + $half-spacing-unit);

                &:hover {
                    background-color: $navbar-sub-item-bg-hover;
                }

                &:active {
                    background-color: $navbar-sub-item-bg-active;
                }
            }

            // Third level
            .nav {
                a {
                    padding-left: ($base-spacing-unit * 2);
                }

                // Fourth level
                .nav {
                    a {
                        padding-left: (($base-spacing-unit * 2) + $half-spacing-unit);
                    }
                }
            }

            &:before {
                border-left: 1px solid $navbar-item-color;

                content:     "";
                display:     block;

                position:    absolute;
                left:        $base-spacing-unit - ($half-spacing-unit / 2);
                top:         0;
                bottom:      0;
                z-index:     1;
            }
        }

        // Second level nav
        > li > .nav {
            padding-top:    ($half-spacing-unit / 2);
            padding-bottom: ($half-spacing-unit / 2);

            > li:before {
                border-top: 1px solid $navbar-item-color;

                content:    "";
                display:    block;

                position:   absolute;
                left:       $base-spacing-unit - ($half-spacing-unit / 2);
                top:        ($half-spacing-unit + ($half-spacing-unit / 2) + 1px);
                width:      ($half-spacing-unit / 2);
                z-index:    1;
            }
        }
    }
}
