//
// Typography
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

//
// Main
// ----------------------------------

html {
    overflow-y: auto;
}

body {
    color: $color-text-default;
}


//
// Anchors
// ----------------------------------

a {
    color: $color-text-link;
    text-decoration: none;
    outline: 0 none;
    &:hover, &:focus, &:active {
        color: $color-text-link-hover;
        text-decoration: underline;
        outline: 0 none;
    }
}

